
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	<http auto-config="true">
		<intercept-url pattern="/Product" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/Category" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/Supplier" access="hasRole('ROLE_ADMIN')" />
		<form-login login-page="/Login" login-processing-url="/perform_login" authentication-success-forward-url="/login_successful" 
		authentication-failure-forward-url="/login_failure" />	
		<csrf disabled="true"/>
		
	</http>

	<context:component-scan base-package="com.niit.*"/>
	
<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password, enabled from User where username=?"
		  authorities-by-username-query=
		    "select username, role from user where username =?  " />		    
	  </authentication-provider>
	</authentication-manager>


</beans:beans>